/* 
1- Posicionamiento (Position fixed, relative, absolute)
2- Modelo de caja (Box model) (margin, padding, tamaño de width y height)
3- Tipografia (Fuentes, tamaño)
4- Visuales (Estilos visuales, ej. shadow box, border radius)
5- Otros  
*/

:root {
    /* Colores */
    --bitcoin-orange: #f7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family:'DM Sans', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;   /* Se usa para alinear la imagen cuando estoy usando display flex */
}

.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;  /*Con esto separamos un poco la imagen del texto*/
    text-align: center;
    align-self: center;
}

.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title-container .header--button {
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /* Sombra */
    box-shadow: 0px  4px 8px rgba(89, 73 ,30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var (var(--black));
}

.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('../assets/icons/down-arrow.svg');
}

main{
    width: 100%;
    min-width: 320px;
    height: auto;  /* Se usa el auto por que el mismo contenido va ir definiendo la altura de nuestro main */
    background-color: var(--off-white);
}

.main--exchange-container {
    width: 100%;
    height: auto;  /* Se usa el auto por que el mismo contenido va ir definiendo la altura de nuestro contenedor */
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main--exange-container-title{
    width: 90%;
    min-width: 238px;
    max-width: 900px;
    margin: 0 auto;
}

.main--exchange-container .backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url(../assets/img/Bitcoin.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main--exchange-container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;      /* esto es un peso a la fuente */
    line-height: 2.6rem;    /* Esto es una altura */
    color: var(--black);
}

.main--exchange-container p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

.main--currency-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.main--currency-table .currency--table-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}

.currency--table-container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.currency--table-container table {
    width: 100%;
    height: 100%;
}

.currency--table-container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.currency--table-container .table__top-left {
    border-radius: 15px 0 0 0;
}

.currency--table-container .table__top-right {
    border-radius: 0 15px 0 0;
}

.currency--table-container .table__bottom-left {
    border-radius: 0 0 0 15px;
}

.currency--table-container .table__bottom-right {
    border-radius: 0px 0px 15px 0px;
}

.currency--table-container .table__right {
    font-size: 1.4rem;
    font-weight: normal;  /*Ancho de fuente*/
    line-height: 1.7rem;    /*Salto de linea*/
    color: #757575;
}

.currency--table-container .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('../assets/icons/trending-down.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency--table-container .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('../assets/icons/trending-up.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency--table-date {
    width: max-content; /*Para evitar el desbordamiento del texto */
    height: 30px;
    margin: 15px auto 0;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
  }

.currency--table-date p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
    font-weight: 300; /*Esto para cortar esa herencia que viene desde el padre*/
}

.main--product-detail {
    position: relative;     /*Es importante que este este posicion relative para que despues la imagen con position absolute pueda tomar de refe4rencia a este*/
    width: 100%;
    min-width: 320px; /*Para que no se haga mas pequeño que eso*/
    height: auto;
    padding: 20px 10px; /*Conesto se crea el espacio entre las tarjetas*/
    background: var(--warm-black);
}

.product--detail-batata-logo {
    position: absolute; /*Este es necesario con el position relative de la anterior clase para que pueda existir entre las dos secciones, hay que asegurar el padre directo para poder delimitarlo de es manera*/
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url('./assets/icons/batata.svg');
}

.pruduct--detail-title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.pruduct--detail-title h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.pruduct--detail-title p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.product--detail-card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px;
    margin: 15px auto;
    padding: 15px;  /*Se usa para posicionar su contenido*/
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product--detail-card .clock {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(./assets/icons/clock.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product--card-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}

.product--card-body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

/* segunda tarjeta */

.product--detail-card .eye {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(./assets/icons/eye.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* tercera tarjeta */

.product--detail-card .dolar {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(./assets/icons/dollar-sign.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* cuarta tarjeta */

.product--detail-card .check-circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(./assets/icons/check-circle.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bitcoin--img-container {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url(./assets/img/bitcoinbaby2x.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.bitcoin--img-container h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.main--plans-container {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;  /*Con esto alejamos el contenido final con el footer*/
    text-align: center;
}

.plans--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}

.plans--title h2 {
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.plans--title p {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;      /*Ancho de fuente*/
    line-height: 1.8rem;    /*alto de fuente*/
    color: #757575;
}

.plans--container-card {
    position: relative;
    width: 70%;
    min-width: 230px;  /*La tarjeta los mas pequeño que sera es eso*/
    max-width: 300px;   /*La tarjeta no se hara mas grande de 300px*/
    height: 250px;
    margin: 50px auto 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.recommended {
    position: absolute;
    width: 120px;
    height: 31px;
    top: -15px;
    font-size: 1.2rem;
    left: calc(50% - 60px);
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
    padding: 6px;
}

.plan--card-title {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
}

.plan--card-price {
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: black;
}

.plan--card-price span {
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: 25px;
}

.plan-card-saving {
    font-size: 1.2rem;
    color: #757575;
}

.plan--card--ca {
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: #faf8f7;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-family:'DM Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
}

.plan--card--ca span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(./assets/icons/orange-right-arrow.svg);
    vertical-align: text-bottom;
}

.plans--container-card-2 {
    position: relative;
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 50px auto 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 79, 30, 0.16);
  }
  
  .recommended-2 {
    position: absolute;
    width: 120px;
    height: 31px;
    top: -15px;
    font-size: 1.2rem;
    font-weight: bold;
    left: calc(50% - 60px);
    background-color: red;
    border-radius: 8px;
    color: white;
    padding: 6px;
  }
  
  .plan--card-title-2 {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
  }
  
  .plan--card-price-2 {
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: black;
  }
  
  .plan--card-price-2 span {
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: 25px;
  }
  
  .plan-card-saving-2 {
      font-size: 1.2rem;
      color: #757575;
  }
  
  .plan--card--ca-2 {
      width: 150px;
      height: 48px;
      margin-top: 20px;
      background-color: #faf8f7;
      border: 2px solid blue;
      border-radius: 4px;
      font-family:'DM Sans', sans-serif;
      font-size: 1.4rem;
      font-weight: bold;
      line-height: 1.8rem;
      color: var(--black);
  }
  
  .plan--card--ca-2 span {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-image: url(./assets/icons/orange-right-arrow.svg);
      vertical-align: text-bottom;
  }
  
  .plans--container-card-3 {
      position: relative;
      width: 70%;
      min-width: 230px;  /*La tarjeta los mas pequeño que sera es eso*/
      max-width: 300px;   /*La tarjeta no se hara mas grande de 300px*/
      height: 250px;
      margin: 50px auto 0;
      padding: 0 15px;
      background-color: var(--just-white);
      border-radius: 15px;
      box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
  }
  
  .recommended-3 {
      position: absolute;
      width: 120px;
      height: 31px;
      top: -15px;
      left: calc(50% - 60px);
      background-color: black;
      border-radius: 8px;
      color: var(--just-white);
      font-size: 1.4rem;
      padding: 6px;
  }
  
  .plan--card-title-3 {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
  }
  
  .plan--card-price-3 {
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: black;
  }
  
  .plan--card-price-3 span {
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: 25px;
  }
  
  .plan-card-saving-3 {
    font-size: 1.2rem;
    color: #757575;
  }
  
  .plan--card--ca-3 {
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: #faf8f7;
    border: 2px solid #201E1C;
    border-radius: 4px;
    font-family:'DM Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
}
  
  .plan--card--ca-3 span {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-image: url(./assets/icons/orange-right-arrow.svg);
      vertical-align: text-bottom;
  }